<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="1048576" appRequestQueueLimit="10000" executionTimeout="6000000"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
    <add key="webPages:Version" value="2.0"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions applyToWebDAV="false">
          <add fileExtension=".xls" allowed="true"/>
          <add fileExtension=".xlsx" allowed="true"/>
          <add fileExtension=".xlsm" allowed="true"/>
          <add fileExtension=".htm" allowed="true"/>
          <add fileExtension=".html" allowed="true"/>
          <add fileExtension=".doc" allowed="true"/>
          <add fileExtension=".docx" allowed="true"/>
          <add fileExtension=".pdf" allowed="true"/>
          <add fileExtension=".ppt" allowed="true"/>
          <add fileExtension=".pptx" allowed="true"/>
          <add fileExtension=".pptm" allowed="true"/>
          <add fileExtension=".pot" allowed="true"/>
          <add fileExtension=".potx" allowed="true"/>
          <add fileExtension=".pps" allowed="true"/>
          <add fileExtension=".ppsx" allowed="true"/>
          <add fileExtension=".PNG" allowed="true"/>
          <add fileExtension=".JPEG" allowed="true"/>
          <add fileExtension=".JPG" allowed="true"/>
          <add fileExtension=".GIF" allowed="true"/>
        </fileExtensions>
        <hiddenSegments applyToWebDAV="false">
          <clear/>
          <add segment="web.config"/>
          <add segment="bin"/>
          <add segment="App_Code"/>
          <add segment="App_GlobalResources"/>
          <add segment="App_WebReferences"/>
          <add segment="App_Data"/>
          <add segment="App_Browsers"/>
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="100000000">
          <headerLimits>
            <add header="multipart/form-data" sizeLimit="100000000"/>
            <add header="Content-type" sizeLimit="100000000"/>
          </headerLimits>
        </requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>